.pandit-login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg,
      rgba(250, 197, 105, 0.6) 50%,
      rgba(255, 230, 198, 0.2) 50%);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 1;
}

.login-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.login-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo-image {
  height: 80px;
  width: 80px;
}

.logo-circle-1 {
  width: 110px;
  height: 110px;
  background: #FFECCA;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.brand-name {
  font-size: 24px;
  color: #ff6b35;
  margin-top: 10px;
}

.welcome-title {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.welcome-description {
  font-size: 10px;
  color: black;
  /* margin-bottom: 10px; */
}

.login-form .form-group {
  margin-bottom: 15px;
}

.custom-input {
  border: none;
  background: #fff;
  border-radius: 10px !important;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 16px;
  position: relative;
}

.custom-input::placeholder {
  color: #00000039 !important;
}

.password-input-wrapper {
  position: relative;
}

.password-input {
  padding-right: 40px;
  /* Space for the eye icon */
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.password-toggle:hover {
  color: #ff6b35;
}

.form-check-label {
  font-size: 14px;
  color: #333;
}

.login-btn {
  background-color: #ff6b35;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
  background-color: #e65b2e;
}

.divider-section {
  color: #666;
  font-size: 14px;
}

.link-success {
  color: #28a745;
  text-decoration: none;
}

.link-success:hover {
  text-decoration: underline;
}

.testimonial-stars span {
  margin: 0 2px;
}

.testimonial-text-pandit-login {
  font-size: 10px;
  color: black;
  margin-top: 10px;
}

.testimonial-author {
  font-size: 12px;
  color: #FD7530;
  font-style: italic;
}