.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.logo-image {
  height: 80px;
  width: 80px;
}

.logo-circle-1 {
  width: 120px;
  height: 120px;
  background: #FFECCA;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.brand-name {
  font-size: 24px;
  color: #ff6b35;
  margin-top: 10px;
}

.welcome-title {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.welcome-description {
  font-size: 14px;
  line-height: 1.4;
  color: #444;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.custom-input {
  border: none;
  background: #fff;
  border-radius: 10px !important;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 16px;
  position: relative;
}

.custom-input::placeholder {
  color: #00000039 !important;
}

.password-input-wrapper {
  position: relative;
}

.password-input {
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.password-toggle:hover {
  color: #ff6b35;
}

.form-check-label {
  font-size: 14px;
  color: #333;
}

.login-btn {
  background-color: #ff6b35;
  border: none;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
}

.login-btn:hover {
  background-color: #e65b2e;
}

.divider-section {
  color: #666;
  font-size: 14px;
}

.link-success {
  color: #28a745;
  text-decoration: none;
}

.link-success:hover {
  text-decoration: underline;
}

.testimonial-stars span {
  margin: 0 2px;
}

.testimonial-text-pandit-login {
  margin-top: 10px;
  font-size: 13px;
  color: #333;
}

.testimonial-author {
  font-size: 12px;
  color: #FD7530;
  font-style: italic;
}

.pandit-login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.login-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 500px;
  padding: 0;
}

.login-card {
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 17px;
  box-shadow: 0 9px 11px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
